<div class="row">
    <div class="col-xs-12">
        <img src="recipe.imgUrl" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1><!-- {{recipe.name}} -->Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <button class="btn btn-primary dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
                  Manage Recipe
                </button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Add Ingredients to Shopping List</a></li>
                <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <!--  {{recipe.description}} -->description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>