<h1>Todo List Api Data</h1>

<table class="table">
    <thead>
       <th>SNO</th>
<th>UserId</th>
<th>#Id</th>
<th>Title</th>
<th>Completed</th>
    </thead>
    <tbody>
        <tr *ngFor="let todo of lstTodoModel; let i=index">
            <td>{{i+1}}</td>
            <td>{{todo.userId}}</td>
            <td>{{todo.id}}</td>
            <td style="width:400px ;">{{todo.title}}</td>
            <td>{{todo.completed}}</td>
            <td>
                <button class="btn btn-primary"[routerLink]="['/todo',todo.id]"><i class="fa-sharp fa-solid fa-eye"></i></button>&nbsp;
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#todoModal"(click)="editTodo(todo)"><i class="fa-solid fa-pen-to-square"></i></button>&nbsp;
                <button class="btn btn-danger"(click)="deleteTodo(todo.id)"><i class="fa-solid fa-trash-can"></i></button>
            </td>
        </tr>

    </tbody>

</table>